@mixin flexBox ($direction, $justify: none, $align: none){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin buttons {
  cursor: pointer;
  border: none;
    &:hover {
      transition: .5s ease-in-out;
      transform: scale(1.1);
    }
}

@mixin backgroundImages ($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
}
