@mixin flexBox ($direction, $justify: none, $align: none){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin onePercentMargin {
  margin: 1%;
}

@mixin buttons {
  cursor: pointer;
  border: none;
}

@mixin backgroundImages ($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin standardBorderRadius {
  border-radius: 14px;
}
