$primary-background: white;
$dark-grey: #2B2B2B;
$dark-teal: #037F8C;
$light-teal: #B0D9D9;
$middle-teal: #03A6A6;
$dark-tan: #8C402E;
$peach: #F2A88D;
$black: black;
$light-tan: RGBA(140,64,46,0.22);
