@use '_variables' as *;
@use '_reset' as *;
@use '_mixins' as *;

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: $primary-background;
}

h1 {
  font-size: 200%;
  font-weight: 500;
  margin: $one-percent;
}

h2 {
  color: $dark-grey;
  margin: $one-percent;
}

h3 {
  margin: 4%;
}

img {
  height: 17vh;
  margin: $one-percent
}

.main-dashboard {
  @include flexBox(column, center);
}

.nav-bar {
  @include flexBox(row, space-between, center);
  height: 12vh;
  padding: 2% 0 1% 0;
}

.middle-image {
  @include flexBox(column, flex-end, center);
  @include backgroundImages("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dHJvcGljYWwlMjBiZWFjaHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
  height: 60vh;
}

.estimated-trip-cost {
  font-size: 150%;
  font-weight: 700;
  width: max-content;
}

.current-trip {
  @include flexBox(row, center, center);
  background-color: $light-tan;
  height: 20vh;
  width: $one-hundred-percent;
  margin: $one-percent;
}

.trips {
  @include flexBox(row, space-between);
}

.trips-title {
  margin: 4%;
  width: max-content;
}

.upcoming-trips,
.pending-trips,
.past-trips {
  @include flexBox(column, none, center);
  border-radius: $border-radius;
  height: 60vh;
  width: 40vw;
  overflow: scroll;
  margin: 1.5%;
}

.user-pending-trips,
.user-upcoming-trips,
.user-past-trips {
  @include flexBox(column, center, center)
}

.upcoming-trips {
  background-color: $dark-teal;
}

.pending-trips {
  background-color: $light-teal;
}
.past-trips {
  background-color: $middle-teal;
}

.trip-image {
  height: 20vh;
  width: 15vw;
}

.new-trip-inputs {
  @include flexBox(row, center);
}

.date-input,
.duration-input,
.number-travelers-input,
.destination-drop-down {
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 120%;
  height: 5vh;
  width: 20vw;
  margin: $one-percent;
  padding: $one-percent;
}

.destination-drop-down {
  height: 8vh;
}

.submit-button-section {
  @include flexBox(column, none, center)
}

.submit-button {
  @include buttons;
  background-color: $peach;
  border-radius: $border-radius;
  font-size: 120%;
  font-weight: 500;
  height: 5vh;
  width: 20vw;
  margin: 2%;
}

.label-input-boxes,
.dashboard-image {
  @include flexBox(none, center, center);
  font-size: 150%;
  width: 100vw;
}

.dashboard-image {
  color: $dark-tan;
  font-size: 300%;
  font-weight: 700;
  opacity: 30%;
}

.no-date-found {
  color: $black;
  font-size: $one-hundred-percent;
  margin-top: 15%;
  width: max-content;
}

.money-spent-this-year {
  @include flexBox(none, center, center);
}

.total-spent {
  font-size: $one-hundred-percent;
  width: 15vw;
}

.price {
  margin-right: 10%;
  font-size: 300%;
}

.trip {
  @include flexBox(none, space-between, center);
  background-color: $primary-background;
  border-radius: $border-radius;
  margin: 4%;
  min-height: 20vh;
  width: 28vw;
}

.trip-details {
  align-self: left;
  color: black;
  margin: 15%;
}

// login page styling below

.login-page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.login-photo-left-side {
  @include backgroundImages("https://images.unsplash.com/photo-1536257104079-aa99c6460a5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGFuZHNjYXBlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
  height: 100vh;
  width: 40vw;
}

.logo-title {
  @include flexBox(none, none, center);
  font-family: 'Abril Fatface', cursive;
}

.application-title {
  font-size: 250%;
}

.login-right-side {
  @include flexBox(column, center, center);
  width: 60vw;
}


.user-name-input,
.password-input,
.login-button {
  border-radius: $border-radius;
  font-size: 120%;
  height: 5vh;
  width: 25vw;
  margin: 3%;
  padding: $one-percent;
}

.login-button {
  @include buttons;
  background-color: $black;
  color: $primary-background;
  height: 9vh;
  width: 27vw;
}

.user-name-input,
.password-input, {
  border: grey 1px solid;
}

.hidden {
  display: none!important;
}
