@use '_variables' as *;
@use '_reset' as *;
@use '_mixins' as *;

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: $primary-background;
}

h1 {
  font-size: 200%;
  font-weight: 500;
  @include onePercentMargin;
}

h2 {
  @include onePercentMargin;
  color: $dark-grey;
}

h3 {
  margin: 4%;
}

img {
  height: 17vh;
  @include onePercentMargin;
}

// select:invalid{
//        color: gray;
//    }
//    option{
//        color: black;
//    }

.name {
  font-weight: 700;
}

.main-dashboard {
  @include flexBox(column);
}

.nav-bar {
  @include flexBox(row, space-between, center);
  height: 12vh;
  padding: 1%;
}

.middle-image {
  @include flexBox(column, flex-end, center);
  height: 60vh;
  @include backgroundImages("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dHJvcGljYWwlMjBiZWFjaHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
}

.estimated-trip-cost {
  font-weight: 500;
  font-size: 100%;
  width: max-content;
}

.current-trip {
  height: 15vh;
  border: 2px solid black;
}

.trips {
  @include flexBox(row, space-between)
}

.trips-title {
  width: max-content;
}

.upcoming-trips,
.pending-trips,
.past-trips {
  @include flexBox(column, none, center);
  @include standardBorderRadius;
  width: 40vw;
  height: 60vh;
  margin: 1.5%;
  overflow: scroll;
}

.user-pending-trips,
.user-upcoming-trips,
.user-past-trips {
  @include flexBox(column, center, center)
}

.upcoming-trips {
  background-color: $dark-teal;
}

.pending-trips {
  background-color: $light-teal;
}
.past-trips {
  background-color: $middle-teal;
}

.trip-image {
  height: 20vh;
  width: 18vw;
}

.new-trip-inputs {
  @include flexBox(row, center);
}

.date-input,
.duration-input,
.number-travelers-input,
.destination-drop-down {
  height: 5vh;
  width: 20vw;
  @include onePercentMargin;
  padding: 1%;
  font-size: 120%;
  @include standardBorderRadius;
  border: none;
  cursor: pointer;
}

.destination-drop-down {
  height: 8vh;
}

.submit-button-section {
  @include flexBox(column, none, center)
}

.submit-button {
  height: 5vh;
  width: 20vw;
  margin: 2%;
  @include buttons;
  background-color: $peach;
  font-size: 120%;
  font-weight: 500;
  @include standardBorderRadius;
}

.label-input-boxes,
.dashboard-image {
  font-size: 150%;
  width: 100vw;
  @include flexBox(none, center, center)
}

.dashboard-image {
  font-size: 300%;
  opacity: 30%;
  color: $dark-tan;
}

.no-date-found {
  color: $black;
  font-size: 100%;
  margin-top: 15%;
  width: max-content;
}

.money-spent-this-year {
  @include flexBox(none, center, center)
}

.total-spent {
  font-size: 100%;
  width: 15vw;
}

.price {
  margin-right: 10%;
  font-size: 300%;
}

.trip {
  @include flexBox(none, space-between, center);
  background-color: $primary-background;
  @include standardBorderRadius;
  min-height: 20vh;
  width: 28vw;
  margin: 4%;
}

.trip-details {
  color: black;
  align-self: left;
  margin: 15%;
}

// login page styling below

.login-page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.login-photo-left-side {
  @include backgroundImages("https://images.unsplash.com/photo-1536257104079-aa99c6460a5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGFuZHNjYXBlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
  height: 100vh;
  width: 40vw;
}

.logo-title {
  @include flexBox(none, none, center);
  font-family: 'Abril Fatface', cursive;
}

.application-title {
  font-size: 250%;
}

.login-right-side {
  @include flexBox(column, center, center);
  width: 60vw;
}


.user-name-input,
.password-input,
.login-button {
  height: 5vh;
  width: 25vw;
  margin: 3%;
  padding: 1%;
  font-size: 120%;
  @include standardBorderRadius;
}

.login-button {
  height: 9vh;
  width: 27vw;
  background-color: $black;
  color: $primary-background;
  @include buttons;
}

.user-name-input,
.password-input, {
  border: grey 1px solid;
}

.hidden {
  display: none!important;
}
