@use '_variables' as *;
@use '_reset' as *;
@use '_mixins' as *;

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: $primary-background;
}

h1 {
  font-size: 200%;
  font-weight: 500;
  margin: 1%;
}

h2 {
  margin: 1%;
  color: darkgrey;
}

h3 {
  margin: 4%;
}

img {
  height: 17vh;
  margin: 1%;
}

.main-dashboard {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 1%;
}

.middle-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 60vh;
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dHJvcGljYWwlMjBiZWFjaHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.trips {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upcoming-trips,
.pending-trips,
.past-trips {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3%;
  width: 40vw;
  min-height: 40vh;
  margin: 1.5%;
}

.upcoming-trips {
  background-color: #037F8C;
}

.pending-trips {
  background-color: #B0D9D9;
}
.past-trips {
  background-color: #03A6A6;
}

.new-trip-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date-input,
.duration-input,
.number-travelers-input,
.destination-drop-down {
  height: 5vh;
  width: 20vw;
  margin: 1%;
  padding: 1%;
  font-size: 120%;
  border-radius: 3%;
  border: none;
  cursor: pointer;
}

.destination-drop-down {
  height: 8vh;
}

.submit-button-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  height: 5vh;
  width: 20vw;
  margin: 2%;
  border: none;
  cursor: pointer;
  background-color: #F2A88D;
  font-size: 120%;
  font-weight: 500;
  border-radius: 3%;
}

.label-input-boxes,
.dashboard-image {
  font-size: 150%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-image {
  font-size: 300%;
  opacity: 30%;
  color: #8C402E;
}

.money-spent-this-year {
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-spent {
  font-size: 100%;
  width: 15vw;
}

.price {
  margin-right: 10%;
  font-size: 300%;
}

.trip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 3%;
  min-height: 15vh;
  width: 28vw;
  margin: 4%;
}



// login page styling below

.login-page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.login-photo-left-side {
  background-image: url("https://images.unsplash.com/photo-1536257104079-aa99c6460a5a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGFuZHNjYXBlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 40vw;
}

.logo-title {
  display: flex;
  align-items: center;
  font-family: 'Abril Fatface', cursive;
  // margin-top: 2%;
}

.application-title {
  font-size: 250%;
}

.login-right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
}


.user-name-input,
.password-input,
.login-button {
  height: 5vh;
  width: 25vw;
  margin: 3%;
  padding: 1%;
  font-size: 120%;
  border-radius: 3%;
}

.login-button {
  height: 9vh;
  width: 27vw;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.user-name-input,
.password-input, {
  border: grey 1px solid;
}

.hidden {
  display: none!important;
}
